<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="GoogleAdsApi" type="System.Configuration.DictionarySectionHandler" />
	</configSections>
	<GoogleAdsApi>
		<add key="DeveloperToken" value=""/>


		<add key="OAuth2Mode" value="APPLICATION" />
		<add key="OAuth2ClientId" value="" />
		<add key="OAuth2ClientSecret" value="" />
		<add key="OAuth2RefreshToken" value="" />
	</GoogleAdsApi>





</configuration>